<main class="main">
  <app-header (toggleEvent)="isOpen = !isOpen;"></app-header>

  <mat-sidenav-container class="main-layout" (backdropClick)="isOpen = false;">
    <mat-sidenav [mode]="mode" [opened]="isOpen">
      <mat-nav-list class="main-nav">
        <app-main-nav-item *ngFor="let item of navItems" [item]="item"></app-main-nav-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
